body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
.navbar{
   text-transform: uppercase;
   font-size: 1.01rem;
   font-weight: 600;
   letter-spacing: 0.2rem;
   background: rgba(0, 0, 0, 0.6) !important; 
   padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    padding-left: 20px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:#1ebba3;

}
.heading-content{
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 100%;
}
.heading-content h5 {
    font-size: 2.75rem;
    margin-right: 186px;
    font-family: monospace;
    font-weight: bolder;
    color:tomato;
    

}
.heading-content p {
    font-size: 2rem;
    margin-right: 150px;
    color:tomato;
    font-weight: lighter;
}

.heading-content h1{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    font-size: 'Montserrat', sans-serif;
    color:tomato;
}

.row{
    text-align: justify;
}
.btn{
    border: 2px solid transparent;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
    margin-top: 10px;
}
.btn a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;

}

.btn:hover{
    border:2px solid #1ebba3;
    cursor: pointer;
}
.sec1{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(219, 229, 233);
}
.sec1 h2{
    font-family: 'poppins' sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 50px;
}
